.gameContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  /* filter: contrast(135%); */
  overflow: hidden;

  & .viewOverlay {
    background-color: var(--game-transparent-bg);
    backdrop-filter: blur(64px);
    /* filter: blur(40px); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  & .game {
    width: 100%;
    display: flex;
    flex-direction: column;

    & .header {
      z-index: 10000;
      background-color: var(--background-item);
      & .bottom {
        display: flex;
      }

      & .top {
        display: flex;
        justify-content: space-between;
      }
      & .bottom {
        display: flex;
        justify-content: center;
      }
    }

    & .body {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: space-around;
      gap: 20px;
      padding: 20px;

      & .myPart {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        max-width: 208px;

        & .card {
          position: relative;
          display: flex;
          padding: 0;
          justify-content: center;
          align-items: center;
          box-shadow: var(--game-box-shadow);
          figure {
            padding: 0;
            max-height: 284px;
            display: flex;
            align-items: end;
            max-width: 207px;
            max-height: 284px;
          }
          & .charactere {
            width: 100%;
            height: auto;
            filter: contrast(135%);
            &.dead {
              filter: grayscale(1);
            }
          }

          &.animate {
            animation: glitch 0.5s linear;
          }
          & .containerDamage {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: xx-large;
            font-weight: bold;
            color: var(--sharpness-red);
            animation: fadeInOut 2s ease-in-out forwards,
              shake 1s ease-in-out 2s forwards,
              moveUp 1s ease-in-out 3s forwards;
          }
          & .containerAnimation {
            position: absolute;
            width: 120%;
            height: 80%;
            right: -50%;
            transform: scaleX(-1);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            /* background-color: aqua; */

            &.lowAttack {
              animation: lowAttack 0.5s linear;
            }
            &.normalAttack {
              animation: normalAttack 0.5s linear;
            }
            &.criticalAttack {
              animation: criticalAttack 0.5s linear;
            }
          }
        }
        & .name {
          font-weight: 700;
          text-transform: uppercase;
          color: var(--sharpness-orange);
        }
      }

      & .adversairePart {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 208px;
        margin-top: 70px;

        & .card {
          position: relative;
          display: flex;
          padding: 0;
          justify-content: center;
          align-items: center;

          figure {
            background-color: var(--neutral-white-color);
            box-shadow: var(--game-box-shadow);
            overflow: visible;
            display: flex;
            align-items: end;
            max-width: 207px;
            max-height: 284px;
          }
          & .charactere {
            transform: translate(-30%);
            filter: contrast(135%);
            width: auto;
            max-width: 200%;
            max-height: 100%;
            &.dead {
              filter: grayscale(1);
            }
          }

          &.animate {
            animation: glitch 0.5s linear;
          }
          & .containerDamage {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: xx-large;
            font-weight: bold;
            color: var(--sharpness-red);
            animation: fadeInOut 2s ease-in-out forwards,
              shake 1s ease-in-out 2s forwards,
              moveUp 1s ease-in-out 3s forwards;
          }
          & .containerAnimation {
            position: absolute;
            width: 120%;
            height: 80%;
            right: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &.lowAttack {
              animation: lowAttack 0.5s linear;
            }
            &.normalAttack {
              animation: normalAttack 0.5s linear;
            }
            &.criticalAttack {
              animation: criticalAttack 0.5s linear;
            }
          }
        }
        & .name {
          font-weight: 700;
          text-transform: uppercase;
          color: var(--sharpness-orange);
        }
        & .actionText {
          font-weight: 700;
          text-transform: uppercase;
          color: var(--sharpness-red);
        }
      }
    }

    & .footer {
      display: flex;
      justify-content: space-around;
      padding: 20px;
    }
  }
}

@media (min-width: 920px) {
  .gameContainer {
    & .game {
      & .footer {
        padding-left: 10%;
        justify-content: flex-start;
        gap: 20px;
      }
    }
  }
}

@keyframes glitch {
  0%,
  50% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(10%, 30%);
  }

  30% {
    transform: translate(-43%, 10%);
  }

  40% {
    transform: translate(2%, -23%);
  }
}

@keyframes lowAttack {
  0%,
  10% {
    background-image: url(src/assets/images/swordSlashes/WhiteSlashThin/File1.png);
  }

  20% {
    background-image: url(src/assets/images/swordSlashes/WhiteSlashThin/File2.png);
  }

  30% {
    background-image: url(src/assets/images/swordSlashes/WhiteSlashThin/File3.png);
  }

  40% {
    background-image: url(src/assets/images/swordSlashes/WhiteSlashThin/File4.png);
  }

  50% {
    background-image: url(src/assets/images/swordSlashes/WhiteSlashThin/File5.png);
  }

  60% {
    background-image: url(src/assets/images/swordSlashes/WhiteSlashThin/File6.png);
  }
}

@keyframes normalAttack {
  0%,
  10% {
    background-image: url(src/assets/images/swordSlashes/BlueSlashThin/File1.png);
  }

  20% {
    background-image: url(src/assets/images/swordSlashes/BlueSlashThin/File2.png);
  }

  30% {
    background-image: url(src/assets/images/swordSlashes/BlueSlashThin/File3.png);
  }

  40% {
    background-image: url(src/assets/images/swordSlashes/BlueSlashThin/File4.png);
  }

  50% {
    background-image: url(src/assets/images/swordSlashes/BlueSlashThin/File5.png);
  }

  60% {
    background-image: url(src/assets/images/swordSlashes/BlueSlashThin/File6.png);
  }
}

@keyframes criticalAttack {
  0%,
  10% {
    background-image: url(src/assets/images/swordSlashes/RedSlashWide/File1.png);
  }

  20% {
    background-image: url(src/assets/images/swordSlashes/RedSlashWide/File2.png);
  }

  30% {
    background-image: url(src/assets/images/swordSlashes/RedSlashWide/File3.png);
  }

  40% {
    background-image: url(src/assets/images/swordSlashes/RedSlashWide/File4.png);
  }

  50% {
    background-image: url(src/assets/images/swordSlashes/RedSlashWide/File5.png);
  }

  60% {
    background-image: url(src/assets/images/swordSlashes/RedSlashWide/File6.png);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
