.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  backdrop-filter: blur(64px);
  background-image: url("");

  & .title {
    text-transform: uppercase;
  }

  & .containerBtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  & .btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  & .btnReturn {
    background-color: var(--sharpness-purple);

    &:hover {
      background-color: var(--sharpness-purple-claire);
      cursor: pointer;
      box-shadow: var(--game-box-shadow);
    }
  }
  & .btnExit {
    background-color: var(--sharpness-red);

    &:hover {
      background-color: var(--sharpness-red-claire);
      cursor: pointer;
      box-shadow: var(--game-box-shadow);
    }
  }
}
