.statsCard {
    margin: 1em 0;
}

.statsCard h3 {
    margin-bottom: 1em;
}

.statsCard p,
.statsCard li {
    text-align: left;
}

.statsCard li {
    list-style: none;
}

.icon {
    height: 1em;
    margin-right: .5em;
}