.gameContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  /* background: url(./src/images/monster-hunter.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  filter: contrast(135%);

  & .game {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */

    & .header {
      & .bottom {
        display: flex;
      }
      & .top {
        display: flex;
        justify-content: space-between;
      }
    }
    & .body {
      position: relative;
      flex: 1;
      display: flex;
      gap: 20px;
      padding: 20px;
      & .message {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & div {
          width: 100%;
          padding: 20px;
          background-color: rgba(0, 0, 0, 0.541);
        }
      }
      & .myPart {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        gap: 10px;
        & .card {
          height: 30%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: green;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          &.animate {
            animation: glitch 0.5s linear;
          }

          & .containerAnimation {
            position: absolute;
            width: 100%;
            left: 20%;
            img {
              width: 130%;
              height: "auto";
              transform: scaleX(-1);
            }
          }
        }
      }
      & .adversairePart {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        & .card {
          height: 30%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          &.animate {
            animation: glitch 0.5s linear;
          }

          & .containerAnimation {
            position: absolute;
            width: 100%;
            right: 50%;
            img {
              width: 130%;
              height: "auto";
            }
          }
        }
      }
    }
    & .footer {
      display: flex;
      justify-content: space-around;
      padding: 20px;
    }
  }
}

@keyframes glitch {
  0%,
  50% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(10%, 30%);
  }
  30% {
    transform: translate(-43%, 10%);
  }
  40% {
    transform: translate(2%, -23%);
  }
}
