.itemContainer {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: url(./src/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: min-content;
  margin-top: 4%;
}

.type-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
}

.itemContainer .itemNavBar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(150, 150, 150, 0.7);
  padding: 0.4em;
  grid-column: 1 / 4;
  grid-gap: 10px;
}

.item {
  margin: 0.5em;
  min-height: 2em;
  background-color: rgba(38, 38, 38, 0.5);
  padding: 1em;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.globalInfos > img {
  height: 8em;
  filter: saturate() drop-shadow(2px 4px 6px black);
}

.resistance li img {
  height: 1em;
}

.resistance li,
li {
  list-style: none;
  font-size: 12px;
}

p {
  font-size: 14px;
}

.paragrapheList,
.stats,
.skillsList {
  text-transform: uppercase;
}

.rarity {
  color: gold;
}

ul.resistance {
  text-align: left;
}

.stats,
p.skilllsList {
  margin-bottom: 0.9em;
}

.hideSkills {
  color: mediumslateblue;
}

@media screen and (max-width: 600px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10%;
  }

  .item,
  .detailsInfos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
  }

  .detailsInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .globalInfos > img {
    height: 8em;
  }

  p,
  .resistance {
    font-size: 13px;
    margin-top: 5%;
  }

  .skillsList,
  .hideSkills {
    text-align: left;
  }
}
