.ItemShit {
    position: relative;
    width: 28em;
    height: 552px;
    border-radius: 2em;
}

.ItemShit .Slot {
    position: relative;
    border-radius: 1em;
    width: 8em;
    height: 8em;
    color: white;
    transition: 0.2s;
    scale: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.ItemShit .Slot:hover {
    border: 1px solid rgb(39, 172, 101);
    cursor: pointer;
    transition: 0.2s;
    scale: 1.1;
}

.ItemShit .head {
    position: absolute;
    top: 1em;
    left: calc(50% - 4em);
}

.ItemShit .chest {
    position: absolute;
    top: calc(2em + 8em);
    left: calc(50% - 4em);
}

.ItemShit .gloves {
    position: absolute;
    top: calc(2em + 8em);
    left: calc(50% - 13em);
}

.ItemShit .waist {
    position: absolute;
    top: calc(2em + 8em);
    left: calc(50% + 5em);
}

.ItemShit .legs {
    position: absolute;
    top: calc(3em + 16em);
    left: calc(50% - 4em);
}

.ItemShit .Slot img {
    width: 100%;
    height: auto;

}