.globalItemContainer {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: url(./src/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.typeContainer {
  margin: auto;
  width: 90%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .weaponType {
    width: 160px;
    height: 160px;
    background-color: var(--background-item);
    padding: 1em;
    color: var(--neutral-white-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
    }
  }
}

.itemNavBar {
  position: sticky;
  top: 0;
  min-height: 4em;
  background-color: var(--rank-popup);
  color: var(--neutral-white-color);
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  input,
  select {
    margin: 0.5em 2em;
  }
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.filters {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 910px) {
  input {
    width: 100%;
  }

  .searchBar {
    flex-direction: column;
  }

  .filters {
    flex-direction: column;
  }

  select {
    margin: 0.5em 0.5em;
  }
}

@media screen and (max-width: 510px) {
  .searchBar {
    width: 100%;
    align-items: start;
    justify-content: start;

    input {
      width: 90%;
      margin: 0.5em 0;
    }
  }

  .itemNavBar {
    justify-content: start;
  }

  .filters {
    align-items: start;

    div {
      display: flex;
      flex-wrap: wrap;

      select {
        margin: 0.5em 0.5em 0.5em 0;
      }
    }
  }
}

.closeButton {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--navbar);
  transition: 0.2s;
  cursor: pointer;
  padding: 0.3em;

  :hover {
    color: var(--neutral-white-color);
    transition: 0.2s;
  }
}

input,
select {
  height: 3em;
  padding: 0 2em;
  border-radius: 2em;
  border: none;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
}

.item {
  min-width: 350px;
  background-color: var(--background-item);
  padding: 2em;
  color: var(--neutral-white-color);
  cursor: pointer;
}

.item > img {
  max-height: 8em;
}

.resistance li img {
  height: 1em;
}

li {
  list-style: none;
}

.search-button {
  margin-left: 20px;
  width: 20%;

  img {
    width: 10%;
  }
}

.imgCharm {
  width: 50px;
}

.sharpnessContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4em 0;

  .sharpness {
    height: 1em;
  }

  p {
    margin-right: 1em;
  }
}

.rarity {
  color: var(--sharpness-yellow);
}

.sharpnessContainer .red {
  background-color: var(--sharpness-red);
}

.sharpnessContainer .orange {
  background-color: var(--sharpness-orange);
}

.sharpnessContainer .yellow {
  background-color: var(--sharpness-yellow);
}

.sharpnessContainer .green {
  background-color: var(--sharpness-green);
}

.sharpnessContainer .blue {
  background-color: var(--sharpness-blue);
}

.sharpnessContainer .white {
  background-color: var(--sharpness-white);
}

.sharpnessContainer .purple {
  background-color: var(--sharpness-purple);
}
