.itemShit {
  position: relative;
  width: 28em;

  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemShit .slot {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  img {
    width: 100%;
  }
}

.itemShit .head.empty {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  background-image: url("../assets/AmorsIcons/teteArmor3.png");
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.itemShit .head {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  box-shadow: var(--armor-container-box-shadow);
}

.itemShit .chest.empty {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  background-image: url("../assets/AmorsIcons/torseArmor.png");
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.itemShit .chest {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);
}

.itemShit .gloves.empty {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  background-image: url("../assets/AmorsIcons/mainArmor.png");
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.itemShit .gloves {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);
}

.itemShit .waist.empty {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  background-image: url("../assets/AmorsIcons/tailleArmor.png");
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.itemShit .waist {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);
}

.itemShit .legs.empty {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  background-image: url("../assets/AmorsIcons/jambeArmor.png");
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.itemShit .legs {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);
}

.itemShit .weapon.empty {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);

  background-image: url("../assets/AmorsIcons/epee.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.itemShit .weapon {
  position: relative;
  border-radius: 1em;
  width: 6em;
  height: 6em;
  color: var(--neutral-white-color);
  transition: 0.2s;
  background-color: var(--background-slot);
  box-shadow: var(--armor-container-box-shadow);
}

.itemShit .slot:hover {
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: 0.2s;
  scale: 1.1;
}

.part {
  display: flex;
  justify-content: center;
  gap: 10px;
}
