.login {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/backgrounjpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login>img {
    width: 350px;
}

.loginContainer {
    background-color: #250f03aa;
    padding: 1em 2em;
    border-radius: 1em;
    color: white;
}

.loginContainer img {
    width: 80px;
}