.stats-card {
    margin: 1em 0;
}

.stats-card h3 {
    margin-bottom: 1em;
}

.stats-card p,
.stats-card li {
    text-align: left;
}

.stats-card li {
    list-style: none;
}

.icon {
    height: 1em;
    margin-right: .5em;
}