.statsCard {
    margin: 1em 0;
}

.statsCard h3 {
    margin-bottom: 1em;
}

.statsCard p,
.statsCard li {
    text-align: left;
}


.statsCard>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em .6em;
    transition: .1s;
}

.statsCard>div:hover {
    scale: 1.05;
    transition: .1s;
    background-color: rgba(220, 10, 10, 0.5);

}

.statsCard .bgOn {
    background-color: var(--bg-stat);
}

.statsCard li {
    list-style: none;
}

.icon {
    height: 1em;
    margin-right: .5em;
}

.statsCard .sharpnessContainer {
    display: flex;
}

.statsCard .sharpness {
    height: 10px;
}

.statsCard .red {
    background-color: red;
}

.statsCard .orange {
    background-color: orange;
}

.statsCard .yellow {
    background-color: yellow;
}

.statsCard .green {
    background-color: green;
}

.statsCard .blue {
    background-color: blue;
}

.statsCard .white {
    background-color: white;
}

.statsCard .purple {
    background-color: purple;
}

.statsCard .skillRank {
    height: 100%;
    display: flex;
    align-items: center;
}

.statsCard .rank {
    height: 1em;
    width: 1em;
    margin: 0 .2em;
}

.statsCard .skillOn {
    background-color: var(--rank-on);
}

.statsCard .skillOff {
    background-color: var(--rank-off);
}

.statPopup {
    max-width: 380px;
    margin-bottom: .5em;
    background-color: var(--rank-popup);
    color: var(--neutral-white-color);
    padding: .5em;
    border: 1px solid var(--neutral-white-color);
    border-radius: 10px;
}

.statPopup h3 {
    margin: .3em 0 .3em 1em;
}

.statPopup .popupDescription {
    font-style: italic;
    text-align: center;
}

.popupRank {
    margin: .3em 0
}

.popupActualRank {
    color: var(--rank-on)
}